*{
	margin: 0;
	padding: 0;
}
h1{
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0.5rem 0;
	text-align: center;
	background-color: #3333ff;
	color: #FFFFFF;
	font-size: 65px;
	font-family: sans-serif;
	user-select: none;
}
#messages{
	margin-top: 30px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5rem 0;
	list-style: none;
	user-select: none;
}
li{
	margin-top: 25px;
	padding: 10px 10px;
	background-color: #0000ff;
	border-radius: 15px;
	color: #FFFFFF;
	font-size: 25px;
	font-family: monospace;
}
#form{
	width: 100%;
	position: fixed;
	bottom: 0;
}
#input{
	width: 91%;
	padding: 15px 10px;
	font-size: 25px;
	font-family: monospace;
}
.submit{
	width: 7.49%;
	padding: 16.3px 16px;
	border: none;
	background-color: #3333ff;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 25px;
	font-family: sans-serif;
}